@model List<Entity.Contact>

@{
    ViewData["Title"] = "AdminContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="main-container">
		<div class="pd-ltr-20">
		
		
			
			<div class="card-box mb-30">
				<h2 class="h4 pd-20"></h2>
				<table class="data-table table nowrap">
					<thead>
						<tr>
							<th class="table-plus datatable-nosort">Hakkımızda</th>
						
							<th class="datatable-nosort">Action</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
					   {
						   if (item.CustomerMail!=null)
						{
							<tr>

								<td>
									<h5 class="font-16">@item.CustomerName</h5>
								</td>

								<td>
									<h5 class="font-16">@item.CustomerMail</h5>
								</td>
								<td>
									<div class="dropdown">
										<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
											<i class="dw dw-more"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
											<a class="dropdown-item" href="/Contact/AdminContactDetail/@item.ContactId"><i class="dw dw-edit2"></i> Goruntule</a>
											<a class="dropdown-item" href="/Contact/ContactDelete/@item.ContactId"><i class="dw dw-delete-3"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
						}

					   }

					</tbody>
				</table>
			</div>
		
		</div>
	</div>