@model List<Entity.Category>

<ul class="submenu">

    <li><a href="/ExportExcel/ExportExcelList">Tüm Excel Dosyasını İndir</a></li>


	@foreach (var item in Model)
	{

        <li><a href="/ExportExcel/ExportExcelListCategory/@item.CategoryId">@item.CategoryName</a></li>
		
	}

</ul>

      <script>
        
            function exceldown()
            {
        window.open("/ExportExcel/ExportExcelCategory");
            }
        
        </script>