<!doctype html>
<html class="no-js" lang="tr-TR">
<head>

    @await Html.PartialAsync("Header")

    @*    <meta property="og:image" content="https://pma.ajanscode.com.tr/celebi-logo.png" />
    <meta property="og:title" content="Çelebi Hırdavat" />
    <meta property="og:description" content="Çelebi Hırdavat" />*@
    <link rel="stylesheet" src="https://focusgrup.net/Content/css/styles.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous" />
</head>
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- prealoder area start -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="first_object"></div>
                <div class="object" id="second_object"></div>
                <div class="object" id="third_object"></div>
            </div>
        </div>
    </div>
    <!-- prealoder area end -->
    <!-- header area start -->
    @await Html.PartialAsync("Navbar")
    <!-- header area end -->
    <!-- scroll up area start -->
    @*  <div class="scroll-up" id="scroll" style="display: none;">
    <a href="javascript:void(0);"><i class="fas fa-level-up-alt"></i></a>
    </div>*@
    <!-- scroll up area end -->
    <!-- search area start -->
    @*    <section class="header__search white-bg transition-3">
    <div class="container">
    <div class="row">
    <div class="col-xl-12">
    <div class="header__search-inner text-center">
    <form  action="#">
    <div class="header__search-btn">
    <a href="javascript:void(0);" class="header__search-btn-close"><i class="fal fa-times"></i></a>
    </div>
    <div class="header__search-header">
    <h3>Search</h3>
    </div>

    <div class="header__search-input p-relative">
    <input type="text" name="SearchText" placeholder="Search for products... ">
    <button type="submit"><i class="far fa-search"></i></button>
    </div>
    </form>


    </div>
    </div>
    </div>
    </div>
    </section>*@
    <div class="body-overlay transition-3"></div>
    <!-- search area end -->
    <!-- extra info area start -->

    <div class="body-overlay transition-3"></div>
    <!-- extra info area end -->

    <main>
        @RenderBody()

    </main>

    <!-- footer area start -->
    @await Html.PartialAsync("Footer")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js"></script>
</body>
</html>
