




<section class="content" style="background-image: url(https://celebihirdavat.com//urunler/footer-bg-celebi.jpg); background-size: cover; min-height: 450px;background-position-y: 70%;">

    <div class="footer__top pt-100 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="footer__widget mb-30">
                        <div class="footer__widget-title mb-25">
                            <a href="/Home/Index"><img src="~/urunler/logo.png" alt="logo"></a>
                        </div>
                        <div class="footer__widget-content">

                            <p> Bayilerimizin beklentilerine yenilikçi ve ekonomik çözümler sunmak, sanayicinin emeğine değer katmak, bayilerimiz ve müşterileri ile birlikte uzun vadeli kârlı bir büyüme sağlamak, sektöründe ÖNCÜ olmaktır. 2019 yılı yeni kataloğumuz ile ihtiyaçlarınıza daha profesyonelce ve hızlı bir şekilde cevap verebilme gayreti içinde olmayı hedefliyoruz.</p>
                            <div class="footer__contact">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="fal fa-map-marker-alt"></i>
                                        </div>
                                        <div class="text">
                                            <span>Adres:Demirtaş Mh. Kantarcılar. Cd. No:29 Eminönü FATİH / İSTANBUL</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fal fa-envelope-open-text"></i>
                                        </div>
                                        <div class="text">
                                            <span>Email: <a href="mailto:info@celebihirdavat.com" class="__cf_email__">info@celebihirdavat.com</a></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fal fa-phone-alt"></i>
                                        </div>
                                        <div class="text">
                                            <span>Telefon  : +90 (212) 511 3454</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                    <div class="footer__widget mb-30">
                        <div class="footer__widget-title">
                            <h5>Sayfalar</h5>
                        </div>
                        <div class="footer__widget-content">
                            <div class="footer__links">
                                <ul>
                                    <li><a href="/Home/Index">Anasayfa</a></li>
                                    <li><a href="/Product/Index">Ürünler</a></li>
                                    <li><a href="/About/Index">Hakkımızda</a></li>
                                    <li><a href="/HumanResource/Index">İnsan Kaynakları</a></li>
                                    <li><a href="/Contact/Index">İletişim</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                    <div class="footer__widget mb-30">
                        <div class="footer__widget-title mb-25">
                            <h5>Sayfalar</h5>
                        </div>
                        <div class="footer__widget-content">
                            <div class="footer__widget-title mb-25">
                                <ul>
                                    <li><a href="/Home/Index">Anasayfa</a></li>
                                    <li><a href="/Product/Index">Ürünler</a></li>
                                    <li><a href="/About/Index">Hakkımızda</a></li>
                                    <li><a href="/HumanResource/Index">İnsan Kaynakları</a></li>
                                    <li><a href="/Contact/Index">İletişim</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7">
                    <div class="footer__copyright">
                        <p>Copyright © <a href="index.html">Çelebi Hırdavat TİC. LTD. ŞTİ.</a> Tüm Hakları Saklıdır Powered by <a href="https://ajanscode.com.tr/">Ajanscode</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5">
                    @*       <div class="footer__social f-right">
                    <ul>
                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                    <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                    </ul>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer area end -->
<!-- JS here -->


<script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="~/assets/js/vendor/waypoints.min.js"></script>
<script src="~/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/js/metisMenu.min.js"></script>
<script src="~/assets/js/slick.min.js"></script>
<script src="~/assets/js/jquery.fancybox.min.js"></script>
<script src="~/assets/js/isotope.pkgd.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/jquery-ui-slider-range.js"></script>
<script src="~/assets/js/ajax-form.js"></script>
<script src="~/assets/js/wow.min.js"></script>
<script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="~/assets/js/main.js"></script>


