

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Celebi Hırdavat </title>
<meta name="description" content="Misyonumuz; Yöneticilerimiz, çalışanlarımız, tedarikçilerimiz ve bayilerimiz ile birlikte belirlediğimiz vizyon çerçevesinde yurtiçi ve yurtdışı pazarlarda yüksek müşteri memnuniyeti sağlayarak ülkemize değer katan bir kuruluş olmaktır. Vizyonumuz; Bayilerimizin beklentilerine yenilikçi ve ekonomik çözümler sunmak, sanayicinin emeğine değer katmak, bayilerimiz ve müşterileri ile birlikte uzun vadeli kârlı bir büyüme sağlamak, sektöründe ÖNCÜ olmaktır. 2019 yılı yeni kataloğumuz ile ihtiyaçlarınıza daha profesyonelce ve hızlı bir şekilde cevap verebilme gayreti içinde olmayı hedefliyoruz.">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content=" Çelebi Hırdavat">
<meta property="og:description" content="Çelebi Hırdavat ile ürünlerizi sorunsuz tedarik edin">

<meta property="og:image" content="https://localhost:44312/celebi-logo.png">


<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">
<meta property="og:type" content="website">
<meta property="og:site_name" content="pma.ajanscode.com.tr">
<meta property="og:type" content="product">

<!-- Place favicon.ico in the root directory -->
<link rel="shortcut icon" type="image/x-icon" href="~/logo.png">

<!-- CSS here -->
<link rel="stylesheet" href="~/css/StyleSheet.css">
<link rel="stylesheet" href="~/css/Icon.css">
<link rel="stylesheet" href="~/assets/css/preloader.css">
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="~/assets/css/slick.css">
<link rel="stylesheet" href="~/assets/css/metisMenu.css">
<link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/assets/css/animate.min.css">
<link rel="stylesheet" href="~/assets/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="~/assets/css/fontAwesome5Pro.css">
<link rel="stylesheet" href="~/assets/css/ionicons.min.css">
<link rel="stylesheet" href="~/assets/css/default.css">
<link rel="stylesheet" href="~/assets/css/style.css">
<link rel="stylesheet" media="(max-width:500px)"   href="~/style.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
@*
<link rel="stylesheet" href="~/css/Icon.css">*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

