<section class="client__area pt-15 ">

    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__title-wrapper text-center mb-55">
@*                    <div style="position:absolute;color:red;  left: 1111px;" class="owl-prev"><i class="fa fa-chevron-right"></i></div>
*@                    <div class="owl-nav">
                        <div class="section__title mb-10">
                            <h2>Bayisi Olduğumuz Markalar</h2>
                        </div>
@*                        <div style="position:absolute; color:red;top:0px " class="owl-next"> <i class="fa fa-chevron-left"></i> </div>
*@                    </div>
                    <div class="section__sub-title">
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
         

                <div class="client__slider owl-carousel text-center">
                    <div class="client__thumb">
                        <a style="height:50px;" href="#"><img style="height:;" src="~/assets/img/client/1.png" alt="hirdavat"></a>
                    </div>
                    <div class="client__thumb">
                        <a style="height:50px;" href="#"><img style="height:;" src="~/assets/img/client/2.png" alt="hirdavat"></a>
                    </div>
                    <div class="client__thumb">
                        <a style="height:50px;" href="#"><img style="height:;" src="~/assets/img/client/3.png" alt="hirdavat"></a>
                    </div>

                    <div class="client__thumb">
                        <a href="#"><img style="height:;" src="~/assets/img/client/4.png" alt="hirdavat"></a>
                    </div>
                    <div class="client__thumb">
                        <a href="#"><img style="height:;" src="~/assets/img/client/5.png" alt="hirdavat"></a>
                    </div>
                    <div class="client__thumb">
                        <a href="#"><img style="height:;" src="~/assets/img/client/6.png" alt="hirdavat"></a>
                    </div>
                    <div class="client__thumb">
                        <a href="#"><img style="height:;" src="~/assets/img/client/7.png" alt="hirdavat"></a>
                    </div>
                    <div class="client__thumb">
                        <a href="#"><img style="height:;" src="~/assets/img/client/8.png" alt="hirdavat"></a>
                    </div>
             
         
                    <div class="client__thumb">
                        <a href="#"><img src="~/assets/img/client/17.png" alt="hirdavat"></a>
                    </div>                                           
            @*        <div class="client__thumb">                      
                        <a href="#"><img src="~/assets/img/client/18.png" alt="hirdavat"></a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>