 <section class="slider__area p-relative">
            <div class="slider-active">


                <div class="" data-background="">

            <video autoplay="autoplay" playsinline="" muted="" loop="" id="myVideo-1" class="w-100">
                <source src="~/celebi-slide1.mp4" type="video/mp4">
                
            </video>

                    @*      <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10 col-12">
                                <div class="slider__content">
                                    <h2 data-animation="fadeInUp" data-delay=".2s">Handmade <br> Hand carved Coffee</h2>
                                    <p data-animation="fadeInUp" data-delay=".4s">As rich and unique as the coffee beans it is intended for, this little scoop will make your morning ritual a special occasion every day. </p>
                                    <a href="shop.html" class="os-btn os-btn-2" data-animation="fadeInUp" data-delay=".6s">Discover now</a>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </section>
        <!-- slider area end -->